<div id="wrapper">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-topbar></app-topbar>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div style="text-align: center;" class=" justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Doctor</h1>
                    <button  [routerLink]='["/admin/count"]' style="margin-top: 5px;" type="button" class="btn btn-outline-primary btn-rounded btn-icon">
                        <i class="fas fa-plus"></i>
                
                      </button>
                 </div>
        

                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->

                            <!-- Card Body -->
                            <div class="card">
                                <div *ngIf="countList.length ==0" class="alert alert-warning"> no secretary profile found</div>

                                <div class="card-body">
                                    <h4 class="card-title">your Presentation</h4>

                                    <div class="table-responsive">
                                        <table  *ngIf="countList.length > 0" class="table , table table-striped">
                                            <thead>
                                                <tr >
                                                    <th>
                                                        image
                                                    </th>
                                                    <th>
                                                        fullname
                                                    </th>
                                                    <th>
                                                        description
                                                    </th>
                                                    
                                                   
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let count of countList">
                                                    <td><img class="card-img-top" src="http://localhost:3000/{{count.image}}" alt=""></td>
                                                    <td>{{count.fullname}}</td>
                                                    <td>{{count.description}}</td>
                                                    
                                                    <td><button  type="button" class="btn btn-light  btn-sm"><i
                                                                class="fas fa-eye"></i></button>
                                                                <button type="button" class="btn btn-danger mx-5 text-light btn-sm"><i
                                                                    class="fas fa-trash"></i></button>
                                                            
                                                            </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <!-- Page Heading -->
                <div style="text-align: center;" class=" justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Secretary</h1>
                    <button  [routerLink]='["/admin/secretary"]' style="margin-top: 5px;" type="button" class="btn btn-outline-primary btn-rounded btn-icon">
                        <i class="fas fa-plus"></i>
                
                      </button>
                 </div>
        

                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->

                            <!-- Card Body -->
                            <div class="card">
                                <div *ngIf="secretaryList.length ==0" class="alert alert-warning"> no secretary profile found</div>

                                <div class="card-body">
                                    <h4 class="card-title">Secretary Presentation</h4>
                                    

                                    <div class="table-responsive">
                                        <table *ngIf="secretaryList.length > 0" class="table , table table-striped">
                                            <thead>
                                                <tr >
                                                    <th>
                                                        image
                                                    </th>
                                                    <th>
                                                        full name
                                                    </th>
                                                    <th>
                                                        description
                                                    </th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let secretary of secretaryList">
                                                    <td><img class="card-img-top" src="http://localhost:3000/{{secretary.image}}" alt=""></td>
                                                    <td>{{secretary.fullname}}</td>
                                                    <td>{{secretary.description}}</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><button type="button" class="btn btn-light  btn-sm"><i
                                                                class="fas fa-eye"></i></button>
                                                                <button (click)="delete(secretary)" type="button" class="btn btn-danger mx-5 text-light btn-sm"><i
                                                                    class="fas fa-trash"></i></button>
                                                            
                                                            </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
      <app-footer></app-footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>