<app-navbar></app-navbar>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div  class="container align-items-stretch">
    <h1 class="text-centre">Make an
      appointment
    </h1>
    <h1> at home</h1>
    <a [routerLink]='["/add-oppointment-at-home"]' href="#" class="btn-get-started scrollto">Click Here

    </a>
  </div>
</section><!-- End Hero -->
<!-- main -->
<main id="main">

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3 class="text-center">Covid 19</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Duis aute irure dolor in reprehenderit
              Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad
              corporis.
            </p>
            <div class="text-center">
              <a href="https://news.google.com/covid19/map?hl=fr&mid=%2Fm%2F02j71&gl=FR&ceid=FR%3Afr"
                class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="fas fa-people-arrows"></i>
                  <h4>Corporis voluptates sit</h4>
                  <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="fas fa-hands-wash"></i>
                  <h4>Ullamco laboris ladore pan</h4>
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="fas fa-syringe"></i>
                  <h4>Labore consequatur</h4>
                  <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->

  <!-- ======= Counts Section ======= -->

  <!-- End Counts Section -->
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container-fluid">

      <div class="row">
        <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
          <a href="https://www.youtube.com/watch?v=DCdxsnRF1Fk" class="glightbox play-btn mb-4"></a>
        </div>

        <div
          class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
          <h1 style="color: rgb(19, 19, 31);"> who are we ?</h1>
          <p style="color: rgb(19, 19, 31);">Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non
            ipsam et sed minima temporibus
            laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla
            tenetur. Suscipit aut voluptate.</p>

          <div class="icon-box">
            <div class="icon"><i class="fas fa-stethoscope"></i></div>
            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
            <p class="description" style="color: rgb(19, 19, 31);">Voluptatum deleniti atque corrupti quos dolores et
              quas molestias excepturi sint
              occaecati cupiditate non provident</p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="fas fa-hospital-symbol"></i></div>
            <h4 class="title"><a href="">Nemo Enim</a></h4>
            <p style="color: rgb(19, 19, 31);" class="description">At vero eos et accusamus et iusto odio dignissimos
              ducimus qui blanditiis
              praesentium voluptatum deleniti atque</p>
          </div>

          <div class="icon-box">
            <div class="icon"><i class="fas fa-ambulance"></i></div>
            <h4 class="title"><a href="">Dine Pad</a></h4>
            <p style="color: rgb(19, 19, 31);" class="description">Explicabo est voluptatum asperiores consequatur
              magnam. Et veritatis odit. Sunt aut
              deserunt minus aut eligendi omnis</p>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->


  <!-- ======= Departments Section ======= -->

  <section id="departments" class="departments">
    <div class="container">

      <div class="section-title">
        <h2>availability
        </h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-1">Monday</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Tuesday</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Wednsday</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Thursday</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Friday</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Saturday</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-7">Sunday</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">

                  <h3>Monday</h3>
                  <table class="table" style="margin-top: 50px;">
                    <thead>
                      <tr>
                        <th scope="col">Home Oppointment
                        </th>
                        <th></th>
                        <th scope="col"><button type="button" class="btn btn-success">Available !</button>
                        </th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>hourly morning
                        </td>
                        <td>7H</td>
                        <td></td>
                        <td>12H</td>
                        <td></td>
                      </tr>

                      <tr>
                        <td>evening hours

                        </td>
                        <td>13H</td>
                        <td></td>
                        <td>18H</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="./../../../../assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Tuesday</h3>
                  <table class="table" style="margin-top: 50px;">
                    <thead>
                      <tr>
                        <th scope="col">Home Oppointment
                        </th>
                        <th></th>
                        <th scope="col"><button type="button" class="btn btn-danger">Not Available !</button>
                        </th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>hourly morning
                        </td>
                        <td>7H</td>
                        <td></td>
                        <td>12H</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>evening hours
                        </td>
                        <td>13H</td>
                        <td></td>
                        <td>18H</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="./../../../../assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Wednesday</h3>
                  <table class="table" style="margin-top: 50px;">
                    <thead>
                      <tr>
                        <th scope="col">Availability
                        </th>
                        <th></th>
                        <th scope="col"><button type="button" class="btn btn-success">Available !</button>
                        </th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>hourly morning
                        </td>
                        <td>7H</td>
                        <td></td>
                        <td>12H</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>evening hours
                        </td>
                        <td>13H</td>
                        <td></td>
                        <td>18H</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="./../../../../assets/img/doctors/doctors-3.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Thursday</h3>
                  <table class="table" style="margin-top: 50px;">
                    <thead>
                      <tr>
                        <th scope="col">Home Oppointment
                        </th>
                        <th></th>
                        <th scope="col"><button type="button" class="btn btn-success">Available !</button>
                        </th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>hourly morning
                        </td>
                        <td>7H</td>
                        <td></td>
                        <td>12H</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>evening hours
                        </td>
                        <td>13H</td>
                        <td></td>
                        <td>18H</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="./../../../../assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Friday</h3>
                  <table class="table" style="margin-top: 50px;">
                    <thead>
                      <tr>
                        <th scope="col">Home Oppointment
                        </th>
                        <th></th>
                        <th scope="col"><button type="button" class="btn btn-success">Available !</button>
                        </th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>hourly morning
                        </td>
                        <td>7H</td>
                        <td></td>
                        <td>12H</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>evening hours
                        </td>
                        <td>13H</td>
                        <td></td>
                        <td>18H</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/departments-5.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-6">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Saturday</h3>
                  <table class="table" style="margin-top: 50px;">
                    <thead>
                      <tr>
                        <th scope="col">Home Oppointment
                        </th>
                        <th></th>
                        <th scope="col"><button type="button" class="btn btn-success">Available !</button>
                        </th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>hourly morning
                        </td>
                        <td>7H</td>
                        <td></td>
                        <td>12H</td>
                        <td></td>
                      </tr>

                      <tr>
                        <td>evening hours

                        </td>
                        <td>13H</td>
                        <td></td>
                        <td>18H</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="./../../../../assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>

            <div class="tab-pane" id="tab-7">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Sunday</h3>
                  <table class="table" style="margin-top: 50px;">
                    <thead>
                      <tr>
                        <th scope="col">Home Oppointment
                        </th>
                        <th></th>
                        <th scope="col"><button type="button" class="btn btn-success">Available !</button>
                        </th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>hourly morning
                        </td>
                        <td>7H</td>
                        <td></td>
                        <td>12H</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="./../../../../assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  -->
  <!-- End Departments Section -->

  <!-- ======= Doctors Section ======= -->
  <section id="doctors" class="doctors">
    <div class="container">

      <div class="section-title">
        <h2>Our Team</h2>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div *ngFor="let secretary of secretaryList" class="member d-flex align-items-start">
            <div class="pic"><img src="http://localhost:3000/{{secretary.image}}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>{{secretary.fullname}}</h4>
              <span>Secretary</span>
              <p>{{secretary.description}}</p>
              <div class="social">
                <a href="{{secretary.twitter}}"><i class="ri-twitter-fill"></i></a>
                <a href="{{secretary.facebook}}"><i class="ri-facebook-fill"></i></a>
                <a href="{{secretary.instagram}}"><i class="ri-instagram-fill"></i></a>
                <a href="{{secretary.linkedin}}"> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <div *ngFor="let count of countList" class="member d-flex align-items-start">
            <div class="pic"><img src="http://localhost:3000/{{count.image}}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>{{count.fullname}}</h4>
              <span>Doctor
              </span>
              <p> {{count.description}}</p>
              <div class="social">
                <a href="{{count.twitter}}"><i class="ri-twitter-fill"></i></a>
                <a href="{{count.facebook}}"><i class="ri-facebook-fill"></i></a>
                <a href="{{count.instagram}}"><i class="ri-instagram-fill"></i></a>
                <a href="{{count.linkedin}}"> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Doctors Section -->




  <!-- ======= Contact Section ======= -->
  <app-add-message></app-add-message>

  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
              data-bs-target="#faq-list-1">Non consectetur a erat nam at lectus urna duis? <i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur
                gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2"
              class="collapsed">Feugiat scelerisque varius morbi enim nunc? <i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id
                donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit
                ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3"
              class="collapsed">Dolor sit amet consectetur adipiscing elit? <i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum
                integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt.
                Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi
                quis
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4"
              class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i
                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc
                vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus
                gravida quis blandit turpis cursus in.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5"
              class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem
              dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada
                nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis
                tellus in metus vulputate eu scelerisque.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section><!-- End Frequently Asked Questions Section -->

</main><!-- End #main -->

<app-bottombar></app-bottombar>